[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
fuzzywuzzy = "*"
"beautifulsoup4" = "*"
lxml = "*"
python-levenshtein = "*"
altair = "*"
schedule = "*"
scikit-learn = "*"
sklearn-pandas = "*"
mord = "*"
xlsxwriter = "*"
bleach = "*"
requests-html = "*"
requests-oauthlib = "*"
yfs = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.6"
